.logo {
  color: white;
  cursor: pointer;
  margin: 0 auto;
  display: table;
}
.logo .logo__logo-image {
  display: table-cell;
}
.logo .logo__logo-text {
  display: table-cell;
  vertical-align: middle;
}
.logo .logo__logo-main-text {
  display: inline-block;
  vertical-align: bottom;
}
.logo .logo__logo-motto {
  display: none;
}
@media (min-width: 980px) {
  .logo.logo--detailed {
    margin: 0;
  }
  .logo.logo--detailed .logo__logo-motto {
    display: inline-block;
    vertical-align: bottom;
  }
}
