.clear-fix:after {
  content: '';
  display: table;
  clear: both;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.limited-width-container {
  max-width: 1000px;
  margin: 0 auto;
}
.menu {
  width: 100%;
  display: table;
  list-style: none;
  background: #c18000;
}
.menu .menu__item {
  display: table-cell;
}
@media (min-width: 980px) {
  .menu {
    box-shadow: -4px -4px 0 2px rgba(245, 197, 6, 0.2), -8px -8px 0 2px rgba(245, 197, 6, 0.2);
  }
}
