.mid-bar {
  background-image: url(../../images/diagonal-pattern.png);
  background-repeat: repeat;
  background-color: #f7f7f7;
  position: relative;
  z-index: 2;
  box-shadow: 0 -6px 0 3px rgba(247, 247, 247, 0.2), 0 -12px 0 3px rgba(247, 247, 247, 0.2);
}
.mid-bar .mid-bar__feature {
  float: left;
  width: 33.333%;
}
@media (min-width: 980px) {
  .mid-bar {
    box-shadow: 0 -1px 8px 0 black;
  }
}
