.play-icon {
  cursor: pointer;
}
.play-icon.play-icon--play {
  padding-top: 50%;
  padding-left: 50%;
  /* Second division is because triangle occupy only half of its container */
  margin-left: 37.5%;
  overflow: hidden;
}
/* triangle */
.play-icon.play-icon--play:after {
  content: '';
  display: block;
  margin-top: -500px;
  margin-left: -500px;
  border-top: 500px solid transparent;
  border-bottom: 500px solid transparent;
  border-left: 500px solid white;
}
/* two rectangles */
.play-icon.play-icon--pause {
  margin-left: 75%;
}
