.social-network {
  position: relative;
}
.social-network .social-network__logo {
  color: #c18000;
  font-size: 10em;
}
.social-network .social-network__counter {
  right: 17px;
  top: 15px;
  position: absolute;
  display: none;
}
.social-network .social-network__container {
  padding: 36px 85px;
  background-color: #f5c506;
  text-align: center;
  cursor: pointer;
}
.social-network .social-network__subscribe {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media (min-width: 980px) {
  .social-network {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
  .social-network .social-network__container {
    background-color: #ec9e03;
  }
  .social-network .social-network__counter {
    display: inline-block;
  }
}
