.videohosting {
  display: table;
}
.videohosting .videohosting__description {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  padding: 15px 11px 15px 0;
}
.videohosting .videohosting__video {
  padding: 15px 9px 15px 11px;
  display: table-cell;
  width: 50%;
}
