.video-progress-bar {
  display: block;
  background: #c18000;
  width: 100%;
  height: 100%;
}
.video-progress-bar .video-progress-bar__current-length {
  display: block;
  background: #f5c506;
  opacity: 0.5;
  height: 100%;
  width: 75%;
}
