/* button background */
.video-play-button:before {
  display: block;
  background: #f5c506;
  content: '';
  padding-bottom: 100%;
  cursor: pointer;
}
.video-play-button.video-play-button--main:before {
  border-radius: 50%;
}
.video-play-button {
  opacity: 0.72;
  width: 100%;
  position: relative;
}
.video-play-button .video-play-button__icon {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
}
