.videoplayer-controls {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.videoplayer-controls .videoplayer-controls__play-main {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 10%;
}
.videoplayer-controls .videoplayer-controls__extended-controls-container {
  position: absolute;
  bottom: 4%;
  left: 10%;
  display: block;
  width: 80%;
  margin: 0 auto;
}
