.extended-video-controls{
	width:100%;
	@play-auxiliry-width: 5%;
	@speakers-width: 5%;

	.extended-video-controls__play-auxiliry{
		float:left;
		width:@play-auxiliry-width;
	}

	.extended-video-controls__progress{
		float:left;
		width:100% - @play-auxiliry-width - @speakers-width;
	}

	.extended-video-controls__speakers{
		float:left;
		width:@speakers-width;
	}
}