@import "screen-sizes.less";

.logo{
  color:white;
  cursor:pointer;
  margin:0 auto;
  display:table;

  .logo__logo-image{
    display:table-cell;
  }
  
  .logo__logo-text{
    display:table-cell;
    vertical-align:middle;
  }

  .logo__logo-main-text{
    display:inline-block;
    vertical-align:bottom;
  }

  .logo__logo-motto{
    display:none;
  }
  


  @media (min-width:@normal-min){
    &.logo--detailed{
      margin:0;

      .logo__logo-motto{
        display:inline-block;
        vertical-align: bottom;
      }
    }
    
  }

  
}