@import "colors.less";
@import "constants.less";
@import "screen-sizes.less";

@shadow-size: 3px;

.mid-bar{
	background-image: url(../../images/diagonal-pattern.png);
	background-repeat: repeat;
	background-color: @clean;
	position:relative;
	z-index:2;

	box-shadow: 0 -(2*@shadow-size) 0 @shadow-size fade(@clean, 20%), 0 -(4*@shadow-size) 0 @shadow-size fade(@clean, 20%);

	.mid-bar__feature{
		float:left;
		width:33.333%;
	}

	@media(min-width:@normal-min){

		box-shadow:0 -1px 8px 0 black;
	}
}