@import "screen-sizes.less";
@import "colors.less";

.social-network{

	position:relative;

	.social-network__logo{
		color:@middle-shadow;
		font-size:10em;
	}

	.social-network__counter{


		right:17px;
		top:15px;
		position:absolute;

		display:none;
	}

	.social-network__container{
		padding:36px 85px;
		background-color: @light;
		text-align: center;
		cursor:pointer;
	}

	.social-network__subscribe{
		position:absolute;
		right:10px;
		bottom:10px;
	}

	@media (min-width:@normal-min){

		display:inline-block;
		width:100%;
		box-sizing:border-box;
		height:100%;

		.social-network__container{
			background-color:@middle;
		}

		.social-network__counter{
			display:inline-block;
		}


		
	}
}